## **API Fruity Vice**

#### 01 Januray 2024

#### Seth Close

### **Fruityvice**

In [12]:
import requests
import json
import pandas as pd

In [2]:
data = requests.get("https://fruityvice.com/api/fruit/all")

In [5]:
results = json.loads(data.text)

In [23]:
# pd.DataFrame(results)

In [24]:
df_fruits = pd.json_normalize(results)

In [31]:
df_fruits.loc[0:4][:]

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.4,5.4,5.5,0.8
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.2,2.6,3.9,0.9
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.1,10.0,15.0,0.4

In [29]:
cherry = df_fruits.loc[df_fruits["name"] == 'Cherry']

(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

In [36]:
df_fruits.loc[df_fruits["name"] == 'Banana'].iloc[0]['nutritions.calories']

96